# udev rules for persistent CAN device naming
# Right arm CAN device
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:00:00:00:00:00", DRIVERS=="gs_usb", ATTRS{serial}=="003D0065594E501820313332", NAME="can_right"

# Left arm CAN device  
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:00:00:00:00:00", DRIVERS=="gs_usb", ATTRS{serial}=="00630059594E501820313332", NAME="can_left"
